@font-face {
  font-family: titleFont;
  src: url(AbrilFatface-Regular.ttf);
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* navigation bar */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #0021A5;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.tabs a {
  display: inline-block;
  margin-top: 22px;
  margin-left: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
}

.tabs a:hover {
  color: #0021A5;
  background: white;
}
.filterbar{
  background-color: #f78000;
  display: inline-flex;
  border-bottom: black;
  border-bottom-color: black;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
  width: 90vw;
  height: 50px;
}

.filtertabs {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 50px;
  justify-content: center;
}

.filtertabs button{
  display: flex;
  margin-left: 20px;
  background-color: deepskyblue;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
}

.filtertabs button:hover {
  color: #0021A5;
  background: white;
  cursor: pointer;
}

.signupTab a {
  display: inline-block;
  margin-top: 22px;
  margin-left: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.signupTab a:hover {
  color: rgb(182, 223, 255)
}

.webTitle {
  margin-top: 10px;
  float: right;
  display: inline-flex;
  color: white;
  margin-right: 20px;
  font-family: titleFont;
  font-size: 40px;
  text-shadow: #FA4616 3px 1px;
}

/* Home page */
.noEvents {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30%;
}

body {
  margin: 0;
  padding: 0;
}

.event,
.event .title,
.event .body,
.event .footer {
  overflow: hidden;
}

.events-grid {
  justify-content: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-columns: ;*/
  gap: 20px; /* Adjust the gap between grid items */
  padding: 20px; /* Padding around the grid */
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.small-event {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #0021A5;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}

.small-event .title {
  flex: 2%;
  background-color: #0021A5;
  display: grid;
  place-content: center;
  color: white;
  font-size: 20px;
}

.small-event .body {
  flex: 65%;
  display: grid;
  place-content: center;
  font-size: 15px;
}

.small-event .footer {
  flex: 1%;
  display: flex;
  align-items: center;
  place-content: center;
  background-color: #0021A5;
  color: white;
  font-size: 15px;
}

.event {
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #0021A5;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px; 
}

.event:hover, .small-event:hover {
  box-shadow: #000000 0px 0px 10px 0px;
  cursor: pointer;
  outline: 5px solid rgb(101, 129, 255)
}

.event .title {
  background-color: #0021A5;
  display: grid;
  place-content: center;
  color: white;
  font-size: 30px;
}

.event .body {
  flex: 65%;
  display: grid;
  place-content: center;
  font-size: 15px;
}

.event .footer {
  flex: 1%;
  display: flex;
  align-items: center;
  place-content: center;
  background-color: #0021A5;
  color: white;
  font-size: 20px;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 350px;

}
.carousel button {
  width: 60px; /* Set the width */
  height: 60px; /* Ensure height is the same as the width */
  border-radius: 50%; /* This makes it a circle */
  border: 2px solid #3498db; /* Optional: Adds a border */
  color: white; /* Text color */
  background-color: #0021A5; /* Button color */
  font-size: 40px; /* Optional: Adjust font size */
  text-align: center; /* Aligns the text to the center */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.carousel button:hover {
  background-color: white;
  color:#0021A5;
}

/* create event */
.createEventForm {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  text-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 40px;
  border: 5px solid #0021A5;
  border-radius: 5px;
  font-family:'Courier New', Courier, monospace
}

.form #inCreateEvent {
  border: 1px solid #FA4616;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  overflow-wrap: break-word;
  text-wrap: wrap;
  font-family:'Courier New', Courier, monospace;
}

.addTitle {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addDescription {
  height: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
  inline-size: 487px;
  overflow-wrap: break-word;
  text-wrap: wrap;
}

.addAuthor {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #0021A5;
  border-radius: 5px;
  color: #ffffff;
  font-family:'Courier New', Courier, monospace;
  font-size: 15px
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(24, 79, 199);
}

span {
  color: #FA4616;
}

/* expanded event page */
.eventPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left {
  flex: 50%;
  display: grid;
  place-items: center;
  color: white;
  height: calc(100vh - 100px);
}

.right {
  flex: 50%;
  display: grid;
  place-items: center;
  height: calc(100vh - 100px);
  
}

.eventInfo{
  background-color: #4965d7;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  font-family:'Courier New', Courier, monospace
}

#individual {
  padding-top: 30px;
  height: calc(100vh - 150px);
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

#individual .title {
  font-size: 30px;
  color: white;
}

#individual .footer {
  font-size: 20px;
  color: white;
}

#individual .body {
  font-size: 20px;
  height: 400px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: white;
  color: #0021A5;
}

.form #inCreateAccount {
  border: 1px solid #FA4616;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  overflow-wrap: break-word;
  text-wrap: wrap;
  font-family:'Courier New', Courier, monospace;
}

.button #loginsignup {
  background-color: rgb(89, 133, 255)
}

.addUsername {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addPassword {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addEmail {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginLink {
  text-align: center;
  vertical-align: middle;
  vertical-align: center;
  margin-top: 20px;
  color: #000000;
  font-family:'Courier New', Courier, monospace;
  font-size: 15px
}

.loginLink:hover {
  cursor: pointer;
  text-decoration: underline;
}