@font-face {
  font-family: titleFont;
  src: url(AbrilFatface-Regular.ttf);
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #0021A5;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;

}

.tabs a {
  display: inline-block;
  margin-top: 22px;
  margin-left: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
}

.tabs a:hover {
  color: #0021A5;
  background: white;
}

.webTitle {
  margin-top: 10px;
  float: right;
  display: inline-flex;
  color: white;
  margin-right: 20px;
  font-family: titleFont;
  font-size: 40px;
}


body {
  margin: 0;
  padding: 0;
}

.event,
.event .title,
.event .body,
.event .footer {
  overflow: hidden;
}

.event {
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #0021A5;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px; 
}

.event:hover {
  box-shadow: #000000 0px 0px 10px 0px;
  cursor: pointer;
  outline: 5px solid rgb(101, 129, 255)
}

.event .title {
  flex: 2%;
  background-color: #0021A5;
  display: grid;
  place-content: center;
  color: white;
  font-size: 30px;
}

.event .body {
  flex: 65%;
  display: grid;
  place-content: center;
  font-size: 15px;
}

.event .footer {
  flex: 1%;
  display: flex;
  align-items: center;
  place-content: center;
  background-color: #0021A5;
  color: white;
  font-size: 20px;
}

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Below is for the create new event page */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 40px;
  border: 5px solid #0021A5;
  border-radius: 5px;
  font-family:'Courier New', Courier, monospace
}

.form #inCreateEvent {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #FA4616;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  overflow-wrap: break-word;
  font-family:'Courier New', Courier, monospace
}

.form button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #0021A5;
  border-radius: 5px;
  color: white;
  font-family:'Courier New', Courier, monospace
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(24, 79, 199);
}

span {
  color: #FA4616;
}